*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("low-poly-grid-haikei\ \(1\).svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

h1 {
  color: #fff;
  font-family: 'Satisfy', 'cursive';

}

.page_heading{
  padding: 1rem 0;
  font-size: 3rem;
}

#musictitle {
  color: #fff;
  font-family: 'Alexandria', sans-serif;
  /* font-size: 400%; */
}

.artist_div{
  margin-bottom: 1rem;
}

#artist {
  color: #fff;
  font-family: 'Alexandria', sans-serif;
}

.songimg {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 140, 238, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  width: 50%;
  text-align: center; 
  margin: auto;
}

.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

.buttons {
  display: block;
  margin-left: 2%;
}
.buttons button{
  display: inline-flex;
}

.playpause-track,
.prev-track,
.next-track {
  padding: 2%;
  opacity: 0.8;
  margin: 10px;
  border-radius: 50%;
  height: 10%;
  background-color: black;
  /* Smoothly transition the opacity */
  transition: opacity .2s;
}

.playpause-track {
  padding: 4%;
}
.playpause-track i{
  color:#fff;
}
/* Change the opacity when mouse is hovered */
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}

.track-name {
  font-size: 2rem;
  text-align: justify;
}

.track-artist {
  font-size: 1rem;
}


/* Medium devices (lobile 600px) */
@media only screen and (max-width: 600px) {
  .card {
    width: 95%;
  }
  .songimg img {
    width: 150px;
  }
  .track-name {
    font-size: 1.8rem;
  }
  .track-artist {
    font-size: 1rem;
    text-align: justify;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .card {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1040px) {
  .card {
    width: 50%;
  }

  .track-name {
    font-size: 1.8rem;
  }

  .track-artist {
    font-size: 1rem;
    text-align: justify;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card {
    width: 50%;
  }
}
